{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
    <div class="row">


        <!--filter-->

        <div class="col-lg-3 mx-auto mt-5">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action">all products</a> {% for i in cat %}
                <a href="/?category={{i.id}}" class="list-group-item list-group-item-action">{{i.name}}</a> {% endfor %}
            </div>

        </div>



        <!--all products-->
        <div class="col-lg-8 mx-auto">
            <div class="row mx-auto">
                {% for i in products %}

                <div class="card mx-auto mt-5" style="width: 18rem;">
                    <img src="{{i.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text">{{i.price}}</p>
                        <a href="#" class="btn btn-primary">add to cart</a>
                    </div>
                </div>


                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}