{% extends 'base.html' %} {% block content %} {% load cart %} {% load currency_filter %}

<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 ml-4">Your Cart</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for i in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px; width: 50px;" class="rounded-circle" src="{{i.image.url}}" alt="..."></td>
                    <td>{{i.name}}</td>
                    <td>{{i.price|currency}}</td>
                    <td>{{i|cart_quantity:request.session.cart}}</td>
                    <td>{{i|price_total:request.session.cart|currency}}</td>

                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <th colspan="3"></th>
                <th>Total</th>
                <th>{{products|cart_total:request.session.cart|currency}}</th>
            </tfoot>
        </table>
        <div class="m-3 p-3">
            <hr>
            <a href="#" class="btn btn-outline-info border rounded col-lg-3 float-right">

            check out
        </a>

        </div>
    </div>
</div>
{% endblock %}