{% extends 'base.html' %} {% block content %} {% load cart %} {% load currency_filter %}

<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 ml-4">Your Orders</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for i in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px; width: 50px;" class="rounded-circle" src="{{i.product.image.url}}" alt="..."></td>
                    <td>{{i.product.name}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.price|currency}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.quantity|multiply:i.price|currency}}</td>
                    {% if i.status %}
                    <td><small class="badge badge-success">Complited</small></td>
                    {% else %}
                    <td><small class="badge badge-warning">Pending</small></td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
    </div {% endblock %}